<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSC471_OnlineQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31263C3C1C8BA8AF00D0B480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31263C531C8BA8AF00D0B480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31263C5E1C8BA8AF00D0B480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
